:root {
  --text-dark: rgb(84 73 73);
  --text-light: rgb(137 94 94);
  --background-color: rgb(242 241 238);
}

html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Playfair Display SC', serif;
}

body {
  background-color: var(--background-color);
  margin: 0px;
}

#index {
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 5vh;
  position: sticky;
  top: 0;
}

#index ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 1vw 0px 1vw;
}

#index li {
  list-style: none;
}

#index a {
  font-family: 'Playfair Display', serif;
  flex-direction: row;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 2vw;
  padding-right: 2vw;
  color: var(--text-dark);
  font-size: max(2vh, 3vw);
  border-color: var(--text-light);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: var(--background-color);
  transition: all 0.3s ease-out;
}

#index a:hover {
  background-color: rgb(246 246 246);
  text-shadow: 0.1vw 0.3vh lightgrey;
  box-shadow: 0.3vw 0.7vh lightgrey;
}

#index p {
  margin: unset;
}

#kinklink {
  padding-left: 5vw;
  padding-right: 5vw;
}

header {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 60vw;
  padding-left: 4vw;
  padding-right: 2vw;
  text-align: right;
}

header text {
  font-family: 'Playfair Display', serif;
  fill: var(--text-light);
}

header svg {
  width: 100%;
}

header h2 {
  color: var(--text-dark);
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: max(2vh, 3vw);
  font-family: 'Playfair Display SC', serif;
}

header img {
  width: 40vw;
  z-index: -1;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 500ms ease-in-out;
  color: var(--text-dark);
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  text-transform: uppercase;
  color: var(--text-dark);
}
.popup .continue {
  text-decoration: none;
  color: var(--text-dark);
  font-size: max(1vh, 2vw);
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  padding-left: 2vw;
  padding-right: 2vw;
}

.popup button {
  border: none;
  background-color: #fff;
  padding: 0px;
  margin-top: 8vh;
  margin-bottom: 3vh;
  margin-left: 0px;
  margin-right: 0px;
}

.popup .close {
  font-weight: bold;
}

.popup .continue:hover {
  background-color: var(--background-color);
  text-shadow: 0.1vw 0.3vh lightgrey;
  box-shadow: 0.2vw 1.3vh lightgrey;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}


.popup .close {
  font-family: sans-serif;
  position: absolute;
  top: 0.5vw;
  right: 1vw;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: rgb(110 110 110);

}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
