:root {
  --text-dark: rgb(84 73 73);
  --text-dark-kink: rgb(93 3 3 );
  --text-light: rgb(137 94 94);
  --text-light-kink: rgb(102 33 33);
  --background-color: rgb(242 241 238);
  /* --background-color-kink: rgb(243 222 206); */
  --background-color-kink: rgb(255 252 252);
  --line-color: rgb(221 221 221);
  --line-color-kink: rgb(223 189 189 / 50%);
}

html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Playfair Display SC', serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  margin: 0px;
}

body.kink   {
  background-color: var(--background-color-kink);
}

main {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1921px) {
 main {
  width: 75%;
 } 
}

#kinklink {
  padding-left: 5vw;
  padding-right: 5vw;
}

header {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}

.title {
  width: 60vw;
  padding-left: 4vw;
  padding-right: 2vw;
  text-align: right;
}

@media (min-width: 1921px ) {
  .title {
    width: 1008px;
  }
}

header text {
  font-family: 'Playfair Display', serif;
  fill: var(--text-light);
}

header svg {
  width: 100%;
}

header h2 {
  color: var(--text-dark);
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: max(2vh, 3vw);
  font-family: 'Playfair Display SC', serif;
}

header img {
  width: 40vw;
  z-index: -1;
}

/* NSFW Continue button */

.nsfw {
  display: flex;
  margin: 2% 10% 2% 10%;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  background-color: rgb(182, 181, 181, 0.2);
  border-radius: 10px;
}

.nsfw h3 {
  text-align: center;
  font-size: 14px;
}

@media (min-width: 800px) {
  .nsfw h3 {
    font-size: 25px;
  }
}

.nsfw-text {
  margin-bottom: 3ex;
}

.nsfw .button {
  margin-bottom: 3ex;
}

.nsfw .button a {
  padding: 1em 1.5em 1em 1.5em;
  text-decoration: none;
  color: var(--text-dark);
  border-radius: 10px;
  border-style: solid;
  border-width: 0.2ex;
  border-color: var(--text-light);
}

.nsfw .button a:hover {
  background: var(--text-light);
  color:#fff;
}

/* THERAPY */
.page-title {
  display: flex;
  justify-content: center;
}

.page-title p {
  font-size: max(30px, 3vw);
  color: var(--text-dark);
}

@media (min-width: 800px) {
  .page-title p {
    font-size: 50px;
  }
}

.page-title.kink p {
  color: var(--text-dark-kink);
}

/* KINK */
body.kink   {
  background-color: var(--background-color-kink);
}

/* NAVIGATION */
.main-navigation{
  border-top:1px solid var(--line-color);
  border-bottom:1px solid var(--line-color);
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

.main-navigation.kink {
  border-top:1px solid var(--line-color-kink);
  border-bottom:1px solid var(--line-color-kink);
  background-color: var(--background-color-kink);
}

.main-navigation ul{
  margin:0;
  padding:0;
}

.main-navigation .menu{
  display:flex;  
  flex-direction:column;
}

@media (min-width: 800px) {
.main-navigation .menu{
    flex-direction:row;
    justify-content:space-between;
  }
}
@media (min-width: 1921px) {
.main-navigation .menu{
    justify-content:space-around;
  }
}

.main-navigation  li{
  display:block;
  list-style-type:none;
  text-transform:uppercase;
}

.main-navigation li a {
  display:flex;
  text-align:center;
  text-decoration:none;
  color: var(--text-dark);
  padding:1rem;
  /* font-size: max(1.5vh, 1.5vw); */
  font-size: 22px;
}

.main-navigation.kink li a {
  color: var(--text-dark-kink);
}

.main-navigation  li a:hover{
  border-radius: 10px;
  background: var(--text-light);
  color:#fff;
}

.main-navigation.kink  li a:hover{
  background: var(--text-light-kink);
}

/* WORK WITH ME SECTION */

.work-with-me {
  /* font-size: max(1.5vh, 1.5vw); */
  color: var(--text-dark);
}

.work-with-me h2 {
  padding: 5% 1vw 3% 1vw;
  margin: unset;
  font-size: max(28px, 2.8vw);
}

@media (min-width: 800px) {
  .work-with-me h2 {
    padding: 5% 1% 3% 1%;
    font-size: 40px;
  }
}

.work-with-me ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.work-with-me-container {
  justify-content: center;
  display: flex;
}

.work-with-me-sections {
  justify-content: space-around;
  display: flex;
  padding: 3vw;
  flex-direction: column;
}

@media (min-width: 800px) {
.work-with-me-sections{
    flex-direction:row;
    justify-content:space-between;
    padding: 0%;
  }
}

.work-with-me li {
  list-style: none;
  padding: 1vw;
  /* padding-right: 1.5vw; */
}

.work-with-me figure {
  margin: unset;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work-with-me figcaption {
  font-family: 'Playfair Display SC', serif;
  color: var(--text-light);
  /* font-size: 2vw; */
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: center;
}

@media (min-width: 800px) {
  .work-with-me figcaption {
    font-size: min(2vw, 35px);
  }
}

.work-with-me figure img {
  max-width: 60vw;
}

@media (min-width: 800px) {
.work-with-me figure img {
    /* max-width: 20vw; */
    max-width: min(20vw, 350px);
  }
}

/* TESTIMONIAL SECTION */
.testimonial {
  font-size: max(1.5vh, 1.5vw);
  color: var(--text-dark);
}

.testimonial h2 {
  padding: 5% 1vw 0% 1vw;
  margin: unset;
  font-size: max(28px, 2.8vw);
}

@media (min-width: 800px) {
  .testimonial h2 {
    padding: 5% 1% 3% 1%;
    font-size: 40px;
  }
}

.testimonial ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.testimonial-container {
  justify-content: center;
  display: flex;
}

.testimonials {
  justify-content: space-around;
  display: flex;
  padding: 3vw;
  flex-direction: column;
}

@media (min-width: 800px) {
.testimonials{
    flex-direction:row;
    justify-content:space-between;
    padding: 0%;
  }
}

.testimonial li {
  list-style: none;
  padding: 1vw;
  /* padding-right: 1.5vw; */
}

.testimonial figcaption {
  font-family: 'Playfair Display SC', serif;
  display: flex;
  align-items: center;
  color: var(--text-light);
  /* font-size: 2vw; */
  font-size: 25px;
}

@media (min-width: 800px) {
  .testimonial figcaption {
    font-size: min(2vw, 35px);
  }
}

.testimonial figure {
  margin: unset;
}

.testimonial figcaption::before {
  font-family: "Georgia", sans-serif;
  margin-top: 24px;
  margin-right: 10px;
  content: open-quote;
  quotes: "“" "”" "“" "”";
  /* font-size: 5vw; */
  font-size: 50px;
}

@media (min-width: 800px) {
  .testimonial figcaption::before {
  /* font-size: 5vw; */
  font-size: min(5vw, 70px);
  margin-top: min(2.6vw, 44px);
  margin-right: min(1vw, 17px);
  }
}

.testimonial blockquote {
  font-size: 20px;
  font-family: 'Playfair Display';
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1vh;
  margin: unset;
  margin-right: 2vw;
}

/* IMAGE LEFT SECTION */

section.image-left {
  display: flex;
  flex-direction: column;
  color: var(--text-dark-kink);
}

@media (min-width: 800px) {
  section.image-left {
    display: flex;
    flex-direction: row;
  }
}

section.image-left h2 {
  text-transform: capitalize;
  letter-spacing: 3px;
  /* font-size: max(2vh, 3vw); */
  font-size: max(30px, 3vw);
  font-family: 'Playfair Display SC', serif;
  margin-top: unset;
}

@media (min-width: 800px) {
  section.image-left h2 {
    font-size: 50px;
  }
}

section.image-left p {
  font-family: 'Montserrat', sans-serif;
  padding-right: 10%;
  /* font-size: max(10px, 2vw); */
  font-size: 22px;
}

section.image-left div.image-container {
  min-width: 33%;
}

@media (min-width: 800px) {
  section.image-left div.image-container {
    min-width: min(33%, 500px);
  }
  
}

section.image-left .image-container img {
  width: 100%;
}

#splat {
  display: none;
}

@media (min-width: 1001px) {
  #splat {
    display: inline;
    width: 130%;
    height: 100%; 
    transform: translate(-12%, -84%) rotate(0deg); 
    position: relative;
    z-index: -1;
  }
}
