:root {
  --text-dark: rgb(84 73 73);
  --text-dark-kink: rgb(0 0 0 );
  --text-light: rgb(137 94 94);
  --text-light-kink: rgb(102 33 33);
  --background-color: rgb(242 241 238);
  --background-color-kink: rgb(243 222 206);
  --line-color: rgb(221 221 221);
  --line-color-kink: rgb(223 189 189 / 50%);
}

html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Playfair Display SC', serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  margin: 0px;
}

main {
  width: 90%;
  margin: 0 auto;
}

#index {
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 5vh;
  position: sticky;
  top: 0;
}

#index ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 1vw 0px 1vw;
}

#index li {
  list-style: none;
}

#index a {
  font-family: 'Playfair Display', serif;
  flex-direction: row;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 2vw;
  padding-right: 2vw;
  color: var(--text-dark);
  font-size: max(2vh, 3vw);
  border-color: var(--text-light);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: var(--background-color);
}

#index a:hover {
  background-color: rgb(246 246 246);
  text-shadow: 0.1vw 0.3vh lightgrey;
  box-shadow: 0.3vw 0.7vh lightgrey;
}

#index p {
  margin: unset;
}

#kinklink {
  padding-left: 5vw;
  padding-right: 5vw;
}

header {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 60vw;
  padding-left: 4vw;
  padding-right: 2vw;
  text-align: right;
}

header text {
  font-family: 'Playfair Display', serif;
  fill: var(--text-light);
}

header svg {
  width: 100%;
}

header h2 {
  color: var(--text-dark);
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: max(2vh, 3vw);
  font-family: 'Playfair Display SC', serif;
}

header img {
  width: 40vw;
  z-index: -1;
}

/* THERAPY */
.therapy-title {
  display: flex;
  justify-content: center;
}

.therapy-title p {
  font-size: max(2vh, 3vw);
  /* margin-top: 1vh; */
  color: var(--text-dark);

}

/* NAVIGATION */
.main-navigation{
  border-top:1px solid var(--line-color);
  border-bottom:1px solid var(--line-color);
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

.main-navigation ul{
  margin:0;
  padding:0;
}

.main-navigation .menu{
  display:flex;  
  flex-direction:column;
}

.main-navigation  li{
  display:block;
  list-style-type:none;
  text-transform:uppercase;
}

.main-navigation   li a {
  display:flex;
  text-align:center;
  text-decoration:none;
  color: var(--text-dark);
  padding:1rem;
  font-size: max(1.5vh, 1.5vw);
}


.main-navigation  li a:hover{
  border-radius: 10px;
  background: var(--text-light);
  color:#fff;
}

@media (min-width: 800px) {
.main-navigation .menu{
    flex-direction:row;
    justify-content:space-between;
  }
}

/* TESTIMONIAL SECTION */
.testimonial {
  font-size: max(1.5vh, 1.5vw);
  color: var(--text-dark);
}

.testimonial h2 {
  padding: 5% 1vw 0% 1vw;
  /* padding: 0px 1vw 0px 1vw; */
  margin: unset;
}

.testimonial ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.testimonial-container {
  justify-content: center;
  display: flex;
}

.testimonials {
  justify-content: space-around;
  display: flex;
  padding: 3vw;
  flex-direction: column;
}

@media (min-width: 800px) {
.testimonials{
    flex-direction:row;
    justify-content:space-between;
    padding: 0%;
  }
}

.testimonial li {
  list-style: none;
  padding: 1vw;
  /* padding-right: 1.5vw; */
}

.testimonial figcaption {
  font-family: 'Playfair Display SC', serif;
  display: flex;
  align-items: center;
  color: var(--text-light);
  font-size: 2vw;
}

.testimonial figure {
  margin: unset;
}

.testimonial figcaption::before {
  /* font-family: "Trebuchet MS", sans-serif; */
  font-family: "Georgia", sans-serif;
  margin-top: 2.6vw;
  margin-right: 1vw;
  content: open-quote;
  quotes: "“" "”" "“" "”";
  font-size: 5vw;
}

.testimonial blockquote {
  font-size: 1.5vw;
  font-family: 'Playfair Display';
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1vh;
  margin: unset;
  margin-right: 2vw;
}

/* WORK WITH ME SECTION */

.work-with-me {
  font-size: max(1.5vh, 1.5vw);
  color: var(--text-dark);
}

.work-with-me h2 {
  padding: 5% 1vw 3% 1vw;
  margin: unset;
}

.work-with-me ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.work-with-me-container {
  justify-content: center;
  display: flex;
}

.work-with-me-sections {
  justify-content: space-around;
  display: flex;
  padding: 3vw;
  flex-direction: column;
}

@media (min-width: 800px) {
.work-with-me-sections{
    flex-direction:row;
    justify-content:space-between;
    padding: 0%;
  }
}

.work-with-me li {
  list-style: none;
  padding: 1vw;
  /* padding-right: 1.5vw; */
}

.work-with-me figure {
  margin: unset;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work-with-me figcaption {
  font-family: 'Playfair Display SC', serif;
  color: var(--text-light);
  font-size: 2vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.work-with-me figure img {
  max-width: 60vw;
}

@media (min-width: 800px) {
.work-with-me figure img {
    max-width: 20vw;
  }
}

